/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../.gems/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.gems/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.gems/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.gems/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.gems/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.gems/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.gems/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.gems/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.gems/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../.gems/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 13, ../../_compass/screen.scss */
html {
  font-family: 'Roboto Slab', serif;
}

/* line 17, ../../_compass/screen.scss */
.wrapper {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
/* line 12, ../../.gems/ruby/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 22, ../../_compass/screen.scss */
h1, h2, h3 {
  font-family: 'Cherry Swash', cursive;
  font-weight: bold;
}

/* line 27, ../../_compass/screen.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin: 1.5em auto;
  text-align: center;
  background-image: url(/images/heading.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* line 37, ../../_compass/screen.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.5em auto;
  text-align: center;
}

/* line 43, ../../_compass/screen.scss */
p {
  margin: 1.5em auto;
}

/* line 47, ../../_compass/screen.scss */
img, iframe {
  max-width: 100%;
  display: block;
  margin: auto;
}

/* line 53, ../../_compass/screen.scss */
iframe#rsvp {
  width: 100%;
}

/* line 57, ../../_compass/screen.scss */
header {
  background-image: url(/images/sky.jpg);
  background-size: 100% 100%;
  text-align: center;
  padding: 2em;
}
/* line 62, ../../_compass/screen.scss */
header img {
  width: 20em;
  max-width: 100%;
}
/* line 66, ../../_compass/screen.scss */
header span.header {
  font-size: 1.5em;
  line-height: 2em;
}
@media (min-width: 40em) {
  /* line 70, ../../_compass/screen.scss */
  header span.header {
    font-size: 2.25em;
    line-height: 1.33333em;
  }
  /* line 73, ../../_compass/screen.scss */
  header .middle {
    display: none;
  }
  /* line 74, ../../_compass/screen.scss */
  header .left {
    position: relative;
    top: -15em;
    left: -11em;
  }
  /* line 79, ../../_compass/screen.scss */
  header .right {
    position: relative;
    top: -15em;
    left: 10em;
  }
}
@media (min-width: 50em) {
  /* line 86, ../../_compass/screen.scss */
  header span.header {
    font-size: 3em;
    line-height: 1.5em;
  }
}

/* line 92, ../../_compass/screen.scss */
.spacer {
  background-image: url(/images/mountains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 24.6875%;
}

/* line 101, ../../_compass/screen.scss */
.page-content {
  background-image: url(/images/water.jpg);
  background-size: 100%;
  overflow: auto;
}
/* line 105, ../../_compass/screen.scss */
.page-content .wrapper :first-child {
  margin-top: 0;
}

/* line 108, ../../_compass/screen.scss */
section, nav, .site-footer {
  background: rgba(255, 255, 255, 0.5);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 5.26316%;
  padding-right: 5.26316%;
}

/* line 116, ../../_compass/screen.scss */
a {
  font-family: 'Cherry Swash', cursive;
  color: black;
}

/* line 121, ../../_compass/screen.scss */
dt {
  float: left;
  clear: left;
  background-image: url(/images/atom.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1.875em;
  margin-bottom: 0.75em;
}
/* line 129, ../../_compass/screen.scss */
dt:after {
  content: ":";
  padding-right: 1em;
}

/* line 134, ../../_compass/screen.scss */
dd {
  margin-bottom: 0.75em;
}

/* line 138, ../../_compass/screen.scss */
li {
  background-image: url(/images/atom.png);
  background-repeat: no-repeat;
  background-size: auto 1.5em;
  padding-left: 1.875em;
  margin-bottom: 0.75em;
}

/* line 147, ../../_compass/screen.scss */
nav ul {
  overflow: auto;
}
/* line 150, ../../_compass/screen.scss */
nav li {
  width: 10em;
  display: inline-block;
}

/* line 156, ../../_compass/screen.scss */
.site-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 1em;
}
/* line 162, ../../_compass/screen.scss */
.site-footer a {
  background-image: url(/images/beaker.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1.125em;
}
